[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment snowflakeapplestone.dxfsnowflakeapplestone.dxf6.6 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=5f2e217a2c&attid=0.1&permmsgid=msg-a:r-3828683403793121858&th=18197a0336b61957&view=att&disp=safe&realattid=f_l4sywloi3
Icon=text-html
